.all-content {
    display: flex;
    height: 100vh;
    background-color: rgb(81, 81, 24);
}

body, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.weather-app {
    flex: 1;
    background: radial-gradient(circle, rgba(255, 165, 0, 0.3) 0%, rgba(255, 165, 0, 0) 63%), radial-gradient(circle, rgba(0, 150, 255, 0.3) 0%, rgba(0, 150, 255, 0) 42%);
    background-color: rgb(12, 13, 31);
    background-repeat: no-repeat, no-repeat;
    background-position: -566% -83%, 331% 50%;
    background-size: 104% 97%, 109% 106%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.weather-app h2 {
    font-family: "Inter", sans-serif;
    font-size: clamp(14px, 2.5vw, 16px);
    color: white;
    font-weight: 400;
}

.meteo-info {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-size: clamp(12px, 2.5vw, 14px);
    color: white;
    font-weight: 400;
}

.meteo-icons-div .meteo-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.meteo-icons {
    width: 20px;
    height: auto;
}

.meteo-icons-div {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.meteo-img {
    width: 160px;
}

.forecast {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.forecast-img {
    width: 50px;
}

.forecast-p {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Inter", sans-serif;
}

.forecast-weather-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    background-color: rgba(234, 252, 255, 0.2);
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid rgba(251, 254, 255, 0.2);
}

.input-wrapper {
    position: relative;
    width: 80%;
}

.input-oras {
    background-color: rgba(234, 252, 255, 0.2);
    border: 1px solid rgba(251, 254, 255, 0.2);
    width: 100%;
    padding: 1rem 4.2rem 1rem 1rem;
    border-radius: 50px;
    font-family: "Inter", sans-serif;
    color: white;
}

.input-oras::placeholder {
    color: rgb(200, 199, 199);
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-90%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.grade {
    font-size: 35px;
    font-weight: 800;
}

.hf-p {
    text-align: left;
    width: 80%;
    font-size: 800;
    font-size: 16px;
}

.calendar-icon {
    width: 15px;
    align-self: flex-end;
}

.todo-app {
    background-color: rgb(50, 49, 91);
    flex: 1;
    min-width: 300px; 
    font-family: "Inter", sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
}

.todo-items,
.completed-items {
    width: 100%;
}

.input-wrapper-todo {
    width: 100%;
}

.todo-p {
    font-size: 14px;
    color: rgb(155, 155, 155);
}

.item-div {
    width: 90%;
    margin-bottom: 10px;
    background-color: rgba(137, 158, 176, 0.3);
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-part {
    justify-content: flex-start;
    text-decoration: line-through;
}

.completed-div {
    width: 90%;
    /* text-decoration: line-through; */
    opacity: 0.5;
}

.date-todo {
    display: flex;
    gap: 8px;
    font-size: 13px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
}

.add-item-icon {
    width: 25px;
    height: 25px;
    opacity: 0.8;
    margin-right: 20px;
}

.calculator {
    background-color: rgb(220, 244, 252);
    flex: 1;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carcasa {
    background-color: rgb(255, 156, 198);
    width: 80%;
    height: 100%;
    border-radius: 10px;
    padding: 1rem;
    border: 5px double rgb(101, 16, 35);
}

.ecran-div {
    background-color: rgb(236, 251, 255);
    width: calc(100% - 1rem);
    height: 25%;
    margin: 0;
    border-radius: 10px;
    border: 5px double rgb(101, 16, 35);
    margin-bottom: 15px;
}

.tastatura-div {
    width: 100%;
    height: 70%;
    margin: 0;
}

.grid-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: min(25px, 5vw);
    width: 100%;
    height: 100%;
    aspect-ratio: 4/5; 
}

.key {
    background-color: rgb(206, 239, 255);
    padding: 0.2rem; 
    border-radius: 7px;
    border: 2px solid rgb(47, 76, 91);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px rgb(71, 143, 185);
    font-family: "Inter", sans-serif;
    font-size: clamp(18px, 4.5vw, 28px); 
    font-weight: 700;
    color: rgb(98, 33, 2);
    cursor: pointer;
    min-height: 50px; 
}

.equation {
    font-family: "Inter", sans-serif;
    font-size: 26px;
    font-weight: 500;
    color: rgb(98, 33, 2);
    margin: 10px;
    margin-top: 25px;
}

.result {
    font-family: "Inter", sans-serif;
    font-size: 70px;
    font-weight: 700;
    color: rgb(98, 33, 2);
    margin: 10px;
}

.ecran-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
